In [ ]:
Question 6 -
Using the data from Question 3, write code to analyze the data and answer the following questions Note 1.
Draw plots to demonstrate the analysis for the following questions for better visualizations.
2. Write code comments wherever required for code understanding

In [ ]:
Insights to be drawn -
● Get all Pokemons whose spawn rate is less than 5%
● Get all Pokemons that have less than 4 weaknesses
● Get all Pokemons that have no multipliers at all
● Get all Pokemons that do not have more than 2 evolutions
● Get all Pokemons whose spawn time is less than 300 seconds.
Note - spawn time format is "05:32”, so assume “minute: second” format and perform the analysis.
● Get all Pokemon who have more than two types of capabilities

In [1]:
#Start

In [2]:
#Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from ast import literal_eval
import datetime as dt

In [3]:
#Initial dataset path
data = "data/pokedex.xlsx"

In [4]:
#making DataFrame
df=pd.read_excel(data,index_col=0)

In [5]:
df.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution
0,1,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"['Grass', 'Poison']",0.71,6.9,Bulbasaur Candy,25.0,2,0.690,69,20:00,[1.58],"['Fire', 'Ice', 'Flying', 'Psychic']","[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN
1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"['Grass', 'Poison']",0.99,13.0,Bulbasaur Candy,100.0,0,0.042,4,07:00,"[1.2, 1.6]","['Fire', 'Ice', 'Flying', 'Psychic']","[{'num': '003', 'name': 'Venusaur'}]","[{'num': '001', 'name': 'Bulbasaur'}]"
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"['Grass', 'Poison']",2.01,100.0,Bulbasaur Candy,NaN,0,0.017,1,11:30,NaN,"['Fire', 'Ice', 'Flying', 'Psychic']",NaN,"[{'num': '001', 'name': 'Bulbasaur'}, {'num': ..."
3,4,4,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,['Fire'],0.61,8.5,Charmander Candy,25.0,2,0.253,25,08:45,[1.65],"['Water', 'Ground', 'Rock']","[{'num': '005', 'name': 'Charmeleon'}, {'num':...",NaN
4,5,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,['Fire'],1.09,19.0,Charmander Candy,100.0,0,0.012,1,19:00,[1.79],"['Water', 'Ground', 'Rock']","[{'num': '006', 'name': 'Charizard'}]","[{'num': '004', 'name': 'Charmander'}]"

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 151 entries, 0 to 150
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              151 non-null    int64
 1   num             151 non-null    int64
 2   name            151 non-null    object
 3   img             151 non-null    object
 4   type            151 non-null    object
 5   height          151 non-null    float64
 6   weight          151 non-null    float64
 7   candy           124 non-null    object
 8   candy_count     70 non-null     float64
 9   egg             151 non-null    int64
 10  spawn_chance    151 non-null    float64
 11  avg_spawns      151 non-null    int64
 12  spawn_time      145 non-null    object
 13  multipliers     70 non-null     object
 14  weaknesses      151 non-null    object
 15  next_evolution  70 non-null     object
 16  prev_evolution  72 non-null     object
dtypes: float64(4), int64(4), object(9)
memory usage: 21.2+ KB

In [7]:
#Data Analysis

## ● Get all Pokemons whose spawn rate is less than 5%

In [8]:
spwn_rate = df[df["spawn_chance"]<=0.05]["id"].count()

In [9]:
print(f"There are {spwn_rate} Pokemons whose spawn rate is less than 5%.")

There are 65 Pokemons whose spawn rate is less than 5%.

## ● Get all Pokemons that have less than 4 weaknesses

In [10]:
four_less = df[df['weaknesses'].map(lambda x: len(eval(x)) <= 4)]

In [11]:
print(f"There are {four_less.shape[0]} Pokemons that have less than 4 weaknesses")

There are 132 Pokemons that have less than 4 weaknesses

## ● Get all Pokemons that have no multipliers at all

In [12]:
#df[df['multipliers']==np.NaN]

no_mul = 0
for i in df["multipliers"]:
    try:
        i=eval(i)
    except:
        no_mul+=1

In [13]:
print(f"There are {no_mul} Pokemons that have no multipliers at all")

There are 81 Pokemons that have no multipliers at all

## ● Get all Pokemons that do not have more than 2 evolutions

In [14]:
no_ev=0
for i in df["next_evolution"]:
    try:
        i=eval(i)
        if len(i)<=2:
            no_ev+=1
    except:
        pass

In [15]:
print(f"There are {no_ev} Pokemons that do not have more than 2 evolutions")

There are 69 Pokemons that do not have more than 2 evolutions

## ● Get all Pokemons whose spawn time is less than 300 seconds.

In [16]:
spwn_t=0

for i in df["spawn_time"]:
    try:
        ti=dt.datetime.strptime(str(i),"%M:%S") - dt.datetime(1900,1,1)
        if ti.total_seconds()<=300:
            spwn_t+=1
    except:
        pass

In [17]:
print(f"There are {spwn_t} Pokemons whose spawn time is less than 300 seconds.")

There are 75 Pokemons whose spawn time is less than 300 seconds.

## ● Get all Pokemon who have more than two types of capabilities

In [18]:
more_2 = 0

for i in df["type"]:
    try:
        i = eval(i)
        if len(i) >= 2:
            more_2+=1
    except:
        pass

In [19]:
print(f"There are {more_2} Pokemons who have more than two types of capabilities")

There are 62 Pokemons who have more than two types of capabilities