In [ ]:
Question 4 -
Write a program to download the data from the link given below and then read the data and convert the into
the proper structure and return it as a CSV file.
Link - https://data.nasa.gov/resource/y77d-th95.json
Note - Write code comments wherever needed for code understanding.

In [ ]:
Excepted Output Data Attributes
Name of Earth Meteorite - string 
id - ID of Earth
Meteorite - int 
nametype - string 
recclass - string
mass - Mass of Earth Meteorite - float 
year - Year at which Earth Meteorite was hit - datetime format 
reclat - float 
recclong - float 
point coordinates - list of int

In [3]:
#Start

In [1]:
#Imports
import pandas as pd
import numpy as np
import json
import requests

In [2]:
#URL for data
url = "https://data.nasa.gov/resource/y77d-th95.json"

In [3]:
#Downloading the dataset 
file01 = requests.get(url)
open("data/nasa.json", "wb").write(file01.content)

245975

In [4]:
#Loading dataset in memory
with open ("data/nasa.json","r") as f:
    data = json.loads(f.read())

In [5]:
#using JSON normalizer to make dataframe in proper format
df =pd.json_normalize(data)

In [6]:
#Initial data preview
df.head()

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation.type,geolocation.coordinates,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4
0,Aachen,1,Valid,L5,21,Fell,1880-01-01T00:00:00.000,50.775000,6.083330,Point,"[6.08333, 50.775]",NaN,NaN
1,Aarhus,2,Valid,H6,720,Fell,1951-01-01T00:00:00.000,56.183330,10.233330,Point,"[10.23333, 56.18333]",NaN,NaN
2,Abee,6,Valid,EH4,107000,Fell,1952-01-01T00:00:00.000,54.216670,-113.000000,Point,"[-113, 54.21667]",NaN,NaN
3,Acapulco,10,Valid,Acapulcoite,1914,Fell,1976-01-01T00:00:00.000,16.883330,-99.900000,Point,"[-99.9, 16.88333]",NaN,NaN
4,Achiras,370,Valid,L6,780,Fell,1902-01-01T00:00:00.000,-33.166670,-64.950000,Point,"[-64.95, -33.16667]",NaN,NaN

In [7]:
#Removing the last 2 columns as they are having NaN values
df = df.drop(df.iloc[:,-2:],axis=1)

In [8]:
#Making a dictonary for each column 
data_types = {'name': str, 'id': int, 'nametype': str, 'recclass': str, 'mass': float,'fall': str, 'year': str, 'reclat': float, 'reclong': float, 'geolocation.type': str, 'geolocation.coordinates': str}

In [9]:
#Converting the data types
df = df.astype(data_types)

In [10]:
#COnverting the YEAR column to datatime format
df["year"]=pd.to_datetime(df["year"],errors = 'coerce')

In [11]:
#Checking data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   name                     1000 non-null   object
 1   id                       1000 non-null   int64
 2   nametype                 1000 non-null   object
 3   recclass                 1000 non-null   object
 4   mass                     972 non-null    float64
 5   fall                     1000 non-null   object
 6   year                     982 non-null    datetime64[ns]
 7   reclat                   988 non-null    float64
 8   reclong                  988 non-null    float64
 9   geolocation.type         1000 non-null   object
 10  geolocation.coordinates  1000 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(1), object(6)
memory usage: 86.1+ KB

In [12]:
#Checking data values
df.head()

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation.type,geolocation.coordinates
0,Aachen,1,Valid,L5,21.0,Fell,1880-01-01,50.77500,6.08333,Point,"[6.08333, 50.775]"
1,Aarhus,2,Valid,H6,720.0,Fell,1951-01-01,56.18333,10.23333,Point,"[10.23333, 56.18333]"
2,Abee,6,Valid,EH4,107000.0,Fell,1952-01-01,54.21667,-113.00000,Point,"[-113, 54.21667]"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976-01-01,16.88333,-99.90000,Point,"[-99.9, 16.88333]"
4,Achiras,370,Valid,L6,780.0,Fell,1902-01-01,-33.16667,-64.95000,Point,"[-64.95, -33.16667]"

In [15]:
#Export to CSV
df.to_csv("data/nasa.csv")